/* carousel */

.carousel-caption{
    top: 30%;
}

.btn-purple{
    background-color:#5808ec;
}

.btn-purple:hover{
    background-color: #7e08ec;
}

hr{
    border-top: 1px solid rgb(185, 182, 182);
}

.margin{
    margin-top: 80px;
    margin-bottom: 80px;
}

.mac-bg{   
    background-image: url("../images/mac.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blue-shade{
color: rgba(5, 195, 253, 0.8); 
height: 300px;
}